html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

p {
  margin: 0;
  padding: 0;
}

.bold {
  font-weight: bold;
}

.font-orangered {
  color: orangered;
}

.font-gold {
  color: gold;
}

.box_title {
  margin: 0 0 10px;
}

.box_sub {
  color: #848484;
  font: normal 14px/1.6 -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  margin: 10px 0;
}

.sticky_wrap {
  position: sticky;
  top: 30px;
  width: 318px;
  z-index: 99;
}

.absolute_wrap {
  position: absolute;
  overflow-y: scroll;
  padding-bottom: 90px;

  .lt_grey_box {
    margin-bottom: 20px;
  }
}

.row_wrap {
  display: grid;
  grid-template-columns: 318px 1fr;
  gap: 30px;
  margin-bottom: 20px;
}

.lt_grey_box {
  background-color: rgb(241, 241, 241);
  border-radius: 20px;
  padding: 20px;

  &.graph {
    grid-column: 2 / -1;
  }

  .curDate {
    font-weight: normal;
    font-size: smaller;
  }
}

.results_box {
  background: rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  display: flex;
  padding: 20px;

  .results_list {
    list-style: none;
    margin: 0;
    padding: 0;

    .results_item {
      padding-bottom: 5px;

      &.highest {
        font-weight: bold;
      }
    }
  }
}

.btn {
  border: none;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font: 600 1rem/1.4 Helvetica, sans-serif;

  &:hover {
    cursor: pointer;
  }
}

.primary_btn {
  background-color: #4a90e2;
  color: #ffffff;

  &:hover {
    background-color: #3d7dc7;
  }

  &:disabled {
    background-color: #d0d0d0;

    &:hover {
      cursor: not-allowed;
    }
  }
}

.secondary_btn {
  background-color: transparent;
  border: 2px solid #d0d0d0;
  color: #a2a2a2;

  &:hover {
    background-color: #e4e4e4;
  }
}
